<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>28088665133-aesmdc7l6k74ok8dcpf1iqn74taj88un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28088665133-aesmdc7l6k74ok8dcpf1iqn74taj88un</string>
	<key>API_KEY</key>
	<string>AIzaSyBbU6vWoC3pqJPn80x8UY9ySiQOC2Cyh4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>28088665133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.kaikuma.QuitCatIsoGame</string>
	<key>PROJECT_ID</key>
	<string>quittingsmoke-54867</string>
	<key>STORAGE_BUCKET</key>
	<string>quittingsmoke-54867.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28088665133:ios:b36c1184e17752aa</string>
	<key>DATABASE_URL</key>
	<string>https://quittingsmoke-54867.firebaseio.com</string>
</dict>
</plist>